h1 { text-align: center; }
h2 { text-align: center; }
h3 { text-align: center; color: #FF0000 }
form { padding: 2em; }
table { align: center; width: 50%; background-color:#FFFF00; margin: auto; border-spacing:2;  }
body {text-align: center; }
